/*****************
  NAVBAR MOBILE
*****************/

navbar {
  /* background: var(--navbarTransparency); */
  background: white;
  text-align: center;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  max-height: 70px;
  padding: 0;
}

navbar a .navbar-logo {
  margin-left: 1rem;
  height: 2rem;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


navbar a {
  text-decoration: none;
  color: var(--logoGreen);
  /* color: white; */
}

.nav-item {
  padding-bottom: 2rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--logoGreen);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this is needed for the display defaults to none */
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-right {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--navbarTransparency);
  width: 100%;
  transform: scale(1, 0);
  /* 1 keeps the width at 100%, 0 squishes height to 0% */
  transform-origin: top;
  /* lets the menu come down */
  transition: 400ms ease-in-out;
}

.nav-right {
  padding: 1rem 0 0 1.5rem;
  list-style: none;
}

.nav-right.nav-links {
  margin-bottom: 1em;
  margin-left: 1em;
}

.nav-right a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-right a:hover {
  font-size: 1em;
  text-decoration: none;
  color: var(--logoGreen);
}

/* the "~" looks for any preceding sibling
 it doesn't have to be immediately after */
.nav-toggle:checked~.nav-right {
  transform: scale(1, 1);
}

.nav-toggle:checked~.nav-right a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/********************
  NAVBAR FULLSCREEN
********************/

@media screen and (min-width: 768px) {
  navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    width: 100%;
    background-color: white;
    min-height: 66px;
    max-height: 70px;
  }

  .nav-toggle-label {
    display: none;
  }

  navbar a .navbar-logo {
    height: 50px;
  }

  .logo {
    margin: 0;
    margin-left: 2rem;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .logo a {
    text-decoration: none;
    color: var(--logoGreen);
  }

  .nav-right {
    all: unset;
    display: flex;
    margin-right: 2rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
  }

  .nav-item {
    margin: 0;
    padding: 0;
    margin-left: 3em;
  }

  .nav-item a {
    opacity: 1;
    position: relative;
    color: var(--logoGreen);
  }

  .nav-right a::before {
    content: '';
    display: block;
    height: 7px;
    background: var(--logoGreen);
    background: brown;
    background: var(--logoOrange);
    position: absolute;
    top: -1.6em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  .nav-right a:hover::before {
    transform: scale(1, 1);
  }
}