/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');
@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);


/* CSS variables */
:root {
  --navbarGreen: #008542;
  /* --navbarTransparency: linear-gradient(rgba(44, 62, 80, .9), rgba(44, 62, 80, .0)); */
  --navbarTransparency: linear-gradient(rgba(24, 80, 45, .9), rgba(44, 62, 80, .0));
  --colorClear: rgba(0, 0, 0, 0);
  --copyright-grey: #8f9296;
  --logoOrange: #FABB51;
  --logoGreen: #9DC167;
  --mediumGreen: #00291B;
  --darkestGreen: #012820;
  --footerGreen: #3a5313;
  --background-grey: #ebebeb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  min-height: 100%;
  font-family: roboto;
}

body {
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
}

p {
  margin-bottom: 0;
}

@keyframes hop-down {
	0% {
		transform: scale(.1) translateY(200px);
	}

	100% {
		transform: scale(1) translateY(0px);
	}
}

.pop-up-layer {
	opacity: 0%;
	display: none; /*This is changed this with javascript*/
	position: fixed;
	height: 100vh;
	width: 100%;
	background: rgba(44, 62, 80,.6); /*this is our overlay color*/
	z-index: 3000; /*makes our layer above the rest of the page.*/
}

.pop-up {
	position: fixed; /*this makes our pop-up attached to the screen*/
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto; /*aligns our popup to the center*/
	height: 15rem;
	width: 40rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #2c3e50;
	border-radius: 16px;
	box-shadow: 0 4px 3px rgba(0,0,0,.3);
	z-index: 10000000; /*Makes our pop-up above everything*/
	animation: hop-down;
	animation-duration: 100ms;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

.pop-up-title {
	position: absolute;
	padding-top: 1rem;
	padding-bottom: 1rem;
	top: 0;
	left: 0;
	background: white;
	margin-top: 0;
	width: 100%;
	text-align: center;
	color: var(--logoGreen);
	font-weight: 300;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
  font-family: roboto;
  font-weight: 600;
  text-transform: uppercase;
}

.pop-up-sub {
	padding-top: 5rem;
	text-align: center;
	color: white;
  font-weight: 300;
  font-size: 1.5rem;
	font-family: roboto;
}

.pop-up-form {
  display: flex;
  justify-content: center;
}

.sub-fields {
  height: auto;
}

.email-input {
  height: auto;
  margin: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.email-sub {
  background: orange;
  border: 1px solid orange;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.email-sub:hover {
  background: darkorange;
  border: 1px solid darkorange;
}

.close-btn {
	position: absolute;
	top: 0;        /* we put this button at */
	right: 0rem;    /* the top right */
	margin-top: 0rem;
	background: orange;
	color: white;
	border: none;
	font-size: 20px;
	transition: all 200ms;
  cursor: pointer;
  /* TODO: change to 10 px */
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-left: 12px;
	padding-bottom: 8px;
	padding-top: 5px;
	padding-right: 9px;
}

.close-btn:hover {
  background: darkorange;
}


.new-email {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,60,.6)), url('https://images.pexels.com/photos/163116/typewriter-vintage-old-vintage-typewriter-163116.jpeg?cs=srgb&dl=antique-black-and-white-classic-163116.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.email-form-container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 1px 2px 2px rgba(0,0,0,.5);
  background: #fff;
}

.email-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-form {
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  padding: 10px 0;
}

input {
  margin-bottom: 1rem;
}

label {
  margin: 0;
  padding: 0;
}

.field {
  padding: 10px;
  width: 304px;
  border: 1px solid #ccc;
  font-size: .8em;
}

.submit-btn {
  margin-top: 15px;
  padding: 15px;
  font-size: .9em;
  color: #fff;
  background-color: #323d65;
  border: 0 solid #3e5871;
}

/*******************
  THANKS
*******************/

.thanks-header {
  padding: 1rem;
  font-size: 3rem;
}

.thanks-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.thanks-return {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;

  border: 0px solid red;
  border-radius: 1rem;
  background: var(--logoGreen);

  color: white;
}

.thanks-return:hover, .thanks-return:focus, .thanks-return:active {
  background: var(--footerGreen);
  outline: none;
  border: none;
}

/************************
FULLSCREEN MEDIA QUERY
*************************/

@media screen and (min-width: 768px) {
  
  /* FEQUENTLY ASKED QUESTIONS */
.faq-container {

  margin-top: 60px;
  padding: 1rem;

  background: var(--background-grey);
}

.faq-title {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.question-container {
  margin: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.line {
  /* margin: 70px 0 70px 0; */
  margin: 0;
  /* height: 1px; */
}

.q-and-a {
  padding: 60px;
  height: auto;
  width: 100%;
}

#q2 {
  background: var(--background-grey);
}

.question {
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.answer {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.top-link {
  display: flex;
  justify-content: flex-end;

}

.bottom-text {
  margin: 2rem;
  padding: 2rem;
}
}