/**********************
  FEATURES Full Screen
  **********************/
  .features {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ecf0f1;
    background: #FbF7F8;
    background: #bdc3c7;
    background: antiquewhite;
    padding: 5rem 0;  
  }

  .feature-headline {
    text-align: center;
    color: #2c3e50;
    color: brown;
    color: var(--logoOrange);
    color: var(--logoGreen);
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 5rem;
    text-transform: uppercase;
  }

  .blue {
    color: #341f97;
    color: var(--logoGreen);
    color: brown;
    color: var(--logoOrange);
  }

  .feature-cards {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .feature-card {
    background: white;
    background: #FbF7F8;
    height: 15rem;
    width: 15rem;
    border-radius: 6px;
    border: solid 0px #bdc3c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 3px 3px 15px 1px rgb(179, 196, 183);
  }

  .feature-icon {
    margin: 1rem 0;
    width: 44px;
  }

  .feature-icon.anxiety {
    margin-top: 2rem;
  }

  .feature-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    color: var(--logoOrange);
  }

  .feature-text {
    text-align: center;
    font-size: 0.7rem;
  }