/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');
@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);


/* CSS variables */
:root {
  --navbarGreen: #008542;
  /* --navbarTransparency: linear-gradient(rgba(44, 62, 80, .9), rgba(44, 62, 80, .0)); */
  --navbarTransparency: linear-gradient(rgba(24, 80, 45, .9), rgba(44, 62, 80, .0));
  --colorClear: rgba(0, 0, 0, 0);
  --copyright-grey: #8f9296;
  --logoOrange: #FABB51;
  --logoGreen: #9DC167;
  --mediumGreen: #00291B;
  --darkestGreen: #012820;
  --footerGreen: #3a5313;
  --background-grey: #ebebeb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: auto;
  min-height: 100%;
}

body {
  /* TODO: change this to 12px for mobile */
  font-size: 16px;
  font-family: roboto;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;

  box-sizing: border-box;
}

html body p {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}