@keyframes hop-down {
	0% {
		transform: scale(.1) translateY(200px);
	}

	100% {
		transform: scale(1) translateY(0px);
	}
}

.pop-up-layer {
	opacity: 0%;
	display: none;
	position: fixed;
	top: 0; left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(44, 62, 80,.6);
	z-index: 3000;
}

.pop-up {
	position: fixed;
	top: 40%; left: 34%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #2c3e50;
	border-radius: 16px;
	box-shadow: 0 4px 3px rgba(0,0,0,.3);

	z-index: 10000000; /*Makes our pop-up above everything*/
	animation: hop-down;
	animation-duration: 100ms;
	animation-fill-mode: both;
	animation-timing-function: linear;

	transform: translate(-50%, -20%);
}

.pop-up-title {
	position: absolute;
	padding-top: 1rem;
	padding-bottom: 1rem;
	top: 0;
	left: 0;
	background: white;
	margin-top: 0;
	width: 100%;
	text-align: center;
	color: var(--logoGreen);
	font-weight: 300;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
  font-family: roboto;
  font-weight: 600;
  text-transform: uppercase;
}

.pop-up-sub {
	padding-top: 5rem;
	text-align: center;
	color: white;
  font-weight: 300;
  font-size: 1.5rem;
	font-family: roboto;
}

.pop-up-form {
  display: flex;
  justify-content: center;
}

.sub-fields {
  height: auto;
}

.email-input {
  height: auto;
  margin: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.email-sub {
  background: orange;
  border: 1px solid orange;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.email-sub:hover {
  background: darkorange;
  border: 1px solid darkorange;
}

.close-btn {
	position: absolute;
	top: 0;        /* we put this button at */
	right: 0rem;    /* the top right */
	margin-top: 0rem;
	background: orange;
	color: white;
	border: none;
	font-size: 20px;
	transition: all 200ms;
  cursor: pointer;

	border-top-right-radius: 10px;
	border-bottom-left-radius: 6px;
	padding-left: 12px;
	padding-bottom: 8px;
	padding-top: 5px;
	padding-right: 9px;
}

.close-btn:hover {
  background: darkorange;
}

/*******************
  THANKS
*******************/

.thanks-header {
  padding: 1rem;
  font-size: 3rem;
}

.thanks-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.thanks-return {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;

  border: 0px solid red;
  border-radius: 1rem;
  background: var(--logoGreen);

  color: white;
}

.thanks-return:hover, .thanks-return:focus, .thanks-return:active {
  background: var(--footerGreen);
  outline: none;
  border: none;
}

@media screen and (min-width: 768px) {
	.pop-up-layer {
		max-width: 500%;
	}

	.pop-up {
		max-width: 50%;
	}
}

@media screen and (min-width: 320px) {
	.pop-up-layer {
		max-width: 100%;
	}

	.pop-up {
		/* position: relative;
		top: -5rem;
		width: 50%; */
		min-width: 300px;
		/* margin-left: 1rem;
		margin-right: 1rem; */
		height: 10rem;
	}

	.pop-up-title {
		font-size: 1rem;
	}

	.pop-up-sub {
		position: relative;
		bottom: -1rem;
		padding-top: .75rem;	
		font-size: 0.75rem;
	}

	.sub-fields {
		position: relative;
		bottom: -1rem;	
		margin: 0.5rem;
		width: 100%;
    padding: 0 .5rem;
	}

	.email-input, .email-sub {
		font-size: .75rem;
	}
}

@media screen and (max-width: 375px) {
	.pop-up {
		left: 10%;
	}
}