/*******************
  FOOTER
*******************/
.footer-distributed {  
  background-color: var(--footerGreen);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  font: normal 16px sans-serif;
  padding: 2rem;
}

/* Footer links */
.footer-links {
  color: white;
  font-size: 2rem;
  list-style-type: none;
  font-weight: bold;
  transition: ease .25s;
  line-height: 1.8;
  text-decoration: none;
  transition: ease .25s;
}

.footer-links:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  text-decoration: underline;
}

.footer-right {
  max-width: 180px;
}

.footer-distributed .footer-right {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  max-width: 250px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: var(--darkestGreen);
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  transition: all .25s;
}

.footer-distributed  {
  text-align: center;
}

.footer-distributed .footer-right {
  float: none;
  margin: 0 auto;
}

/* EMAIL CONTACT US */
.back-btn-container {
  width: 100%;
  z-index: 1000;
}

a.back-btn {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: #fabb51;
  margin: 1rem;
  padding: .75rem 2rem;

  border-radius: 100px;
  box-shadow: 2px 3px 3px rgba(0,0,0,.5);
}

.back-btn:hover {
  background: darkorange;
  text-decoration: none;
}

.back-btn:active {
  box-shadow: 1px 2px 1px rgba(0,0,0,.5);
}

.new-email {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(157, 193, 103, 0.76), #3a531383), url('../img/typewriter.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-form-container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 1px 2px 2px rgba(0,0,0,.5);
  background: #fff;
}

.email-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-form {
  color: var(--logoOrange);
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  padding: 10px 0;
}

input {
  margin-bottom: 1rem;
}

label {
  margin: 0;
  padding: 0;
}

.field {
  padding: 10px;
  width: 304px;
  border: 1px solid #ccc;
  font-size: .8em;
}

.submit-btn {
  margin-top: 15px;
  padding: 15px;
  font-size: .9em;
  color: #fff;
  background-color: var(--footerGreen);
  border: 0 solid #3e5871;
}

/* Media Queries */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 768px) {

    .email-form-container {
      top: 30% !important;
      padding: 1.5rem !important;
    }

    footer.footer-distributed {
      height: 150px;
      padding: .5rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;
    }

    footer a.footer-links {
      font-size: 1.4rem;
      margin: .5rem;
    }

    footer p {
      font-size: .75rem;
    }

    footer.footer-right a {
      margin: 1rem;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .new-email {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    a.back-btn { 
      font-size: .9rem;
    }
  
    input {
      margin-bottom: 0.5rem;
    }
  
    .email-form-container {
      padding: 12px;
      top: 50%;
    }
  
    .field {
      padding: 10px;
      width: 255px;
      border: 1px solid #ccc;
      font-size: .8em;
    }
}