/*******************
HERO
*******************/

.inner-hero {
  margin-top: 66px;
  width: 100vw;
  height: 50vh;
  background-image: url('../img/beverage-min-crop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 1rem; */
}

.hero h1 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 2rem;
} 

.overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: flex-start; */
  padding: 0 0 1rem 1rem;
  background-color: rgba(0, 0, 0, .5);
  font-size: 3rem;
  font-weight: bold;
  color: white;
  height: 100%;
}

.overlay-text h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.overlay-text p {
  font-size: 1.2rem;
  font-weight: 200;
}


@media screen and (max-width: 768px) {
  /* .hero {
    padding-bottom: 0;
    height: auto;
  } */
  .inner-hero {
    background-size: contain;
    height: 120px;
  }

  .overlay-text {
    display: none;
    height: 0px;
  }
}